<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >


<suite name = "InetBankingV1">

 
   <listeners>
   <listener class-name = "com.inetbanking.utilities.Reporting"/>
   </listeners>
   
    <test name = "BankingApp Test2">
   
      <parameter name = "browser" value = "edge"/>
      <classes>
          <!--  <class name = "com.inetbanking.utilities.Basetest"/>-->
          <!--  <class name = "com.inetbanking.testCases.TC_LoginDDT_002"/>-->
        <!-- <class name = "com.inetbanking.testCases.BaseClass"/>-->
       <!-- <class name = "com.inetbanking.testCases.TC_LoginTest_001"/>-->
     <!--  <class name = "com.inetbanking.testCases.WienerVersicherung"/>-->
       <!-- <class name = "com.inetbanking.testCases.TC_AddCustomerTest_003"/>-->
      <!-- <class name = "test.Tesst"/>-->
      
    <!--<class name = "com.inetbanking.testCases.Test_Case_01"/>-->
      <class name = "com.inetbanking.testCases.By_computer_test"/>
     <!--<class name = "com.inetbanking.testCases.Test_Class"/>-->
      
      
      
      </classes>

   </test>
   
   
   
   

</suite>




